.masthead {
  background-color: #438292;
}

.hero {
  background: url("../../../images/large-desert-background-min.png") no-repeat center;
}

.homepage .module-search .module-content {
  background-color: #438292;
}

.homepage .module-search {
  padding: 0px;
}

.nobullets {
  list-style-type: none;
 }

.site-footer,
body {
  background-color: #438292;
}

.attribution .keitaro-footer-logo {
  display: block;
  width: 68px;
  height: 21px;
  margin-top: 2px;
  background: url("../../../images/keitaro-logo-landscape.png");
  text-indent: -900em;
}
