.masthead {
  background-color: #ffffff;
}

.masthead .navigation .nav-pills li {
  color: #e6e6e6
}

.masthead .navigation .nav-pills li a{
  color: #a6a6a6;
}

.hero {
    background: url("../../../images/home_background.png");
  }

.homepage .module-search {
  padding: 0px;
}

.nobullets {
  list-style-type: none;
 }